* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "JetBrains Mono", monospace;
  background: #2C2B3D;
  color: #fff;
}

span {
  color: #00BFA6;
}

.page {
  width: 1092px;
  margin: 71px auto;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 101px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 64px
}

a {
  text-decoration: none;
  color: #fff;
}

main {
  display: flex;
  gap: 77px;
  margin-bottom: 157px;
}

main section {
  text-align: center;
}

main section h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 59px;
}

main section p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #C2C2C2;
  line-height: 28px;
  margin-left: 8px;
}

main section p:first-of-type {
  margin-bottom: 55px;
}

footer .line {
  width: 568px;
  margin: 0 auto 27px;
  border: 1px solid #00BFA6;
}

footer p {
  text-align: center;
}

.padlock {
  position: fixed;
  bottom: 20px;
  left: 20px;
}






